.main {
  text-align: center;
}

ul {
  list-style-type: none;
}

.user-recos-list {
  /* background-color: rgba(236, 100, 100, 0.952); */
  float: left;
  width: 30%;
  margin: 1%;
  /* border: 2px solid; */
  border-radius: 6%;
  text-align: left;
  padding: 2%; 
}

.reco-name {
  text-align: center;
}

.reco-img {
  max-width: 100%;
  border-radius: 5%;
}

