h1,
h2,
h3 {
  color: #ff5768;
  padding: 2%;
  /* margin: 2%; */
}

.button {
  color: #ff5768;
  padding: 2%;
}

.navbar {
  background-color: #ff5768;
}

.navbar-display {
  display: flex;
  justify-content: space-between;
  float: right;
}

.navbar-links {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.main {
  text-align: center;
}

#home-options {
  display: inline;
}

.header-text {
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 15%;
  width: 100%;
  max-height: 20%;
  opacity: 80%;
}

#header-home {
  background: url("./header.png");
  background-size: 100%;
  max-height: 40%;
  text-align: center;
 padding: 8%;
  /* width: 100%; */
}

#about {
  color: white;
}

#header-text {
  font-size: 1800%;
  color: white;
  font-weight: bolder;
  /* border-style-top: solid; */
  /* padding: 2% 10% 2% 10%; */
  /* border-radius: 4%; */
  /* width: 60%; */
  /* text-align: center; */
}

#rego {
  margin-top: 2%;
  margin-right: 20%;
  text-align: right;
  max-width: 30%;
  float: right;
}

#login-form {
  text-align: left;
  margin-left: 15%;
  margin-bottom: 20%;
  max-width: 30%;
}

ul {
  list-style-type: none;
}

/* #user-recos-list-hoverable:hover {
  opacity: 70%;
}

#user-dashboard-recos-hoverable:hover {
  opacity: 70%;
}

#user-dashboard-clubs-hoverable:hover {
  opacity: 70%;
}

#recos-home-page-hoverable:hover {
  opacity: 70%;
}

#clubs-home-page-hoverable:hover {
  opacity: 70%;
}

#all-recos-hoverable:hover {
  opacity: 70%;
}

#my-clubs-hoverable:hover {
  opacity: 70%;
}

#genre-list-hoverable:hover {
  opacity: 70%;
} */

#card-hoverable:hover {
  opacity: 70%;
  cursor: pointer;
}

#genre-list {
  padding: 10%;
  border-radius: 6%;

  border-style: solid;
  /* color: aquamarine; */
}

.comment-cards-list {
  width: 50%;
}

.comment-card {
  /* border-style: solid; */
  margin: 1%;
  /* border-radius: 10%; */
}

.comment-card-header {
  background-color: rgb(185, 184, 185);
}

.genre-card-hoverable:hover {
  cursor: pointer;
  background-color: #00a897;
  /* color: white; */
  filter: invert(100%);
}

/* .reco-name {
  text-align: center;
} */

/* #add-comment {
  /* float: left; */
/* margin-left: 18%;
} */
/* 
#comment-form {
  margin-left: 2%;
} */

.delete-reco {
  width: 30%;
  margin: 1%;
  border-radius: 6%;
  text-align: center;
  padding: 5%;
}

#delete-text {
  margin: 2%;
}

#login-text {
  margin-left: 15%;
}

#rego-text {
  margin-bottom: 7%;
}

#rego-form {
  margin-top: 2%;
}

#my-reco-text {
  text-align: left;
  margin-left: 10%;
}

form {
  margin-bottom: 20%;
}

.reco-card {
  float: left;
  width: 30%;
  margin: 1%;
  border-radius: 1%;
}

.club-card {
  float: left;
  width: 45%;
  margin: 1%;
  border-radius: 1%;
}

.reco-info-card {
  float: left;
  width: 95%;
  margin: 1%;
  border-radius: 1%;
}

.reco-info {
  float: right;
  max-width: 50%;
}

.reco-edit-page {
  float: left;
  margin-left: 20%;
}

#reco-info-card-footer {
  width: 100%;
}

.genre-card {
  float: left;
  width: 30%;
  margin: 1%;
  border-radius: 1%;
}

#club-card-info {
  min-width: 50%;
  float: left;
  border-radius: 2%;
  /* border-style: solid; */
  margin: 5%;
  padding: 2%;
  /* color: white; */
}

.user-recos-list {
  float: left;
  max-width: 30%;
  margin: 1%;
  border-radius: 2%;
  text-align: left;
  background-color: white;
}

.reco-img {
  max-width: 100%;
  border-radius: 5%;
}

#club-card-header-footer {
  width: 94%;
}

.club-img {
  /* float: left; */
  max-width: 90%;
  height: auto;
  max-height: 100%;
  border-radius: 5%;
  margin: 2% 2% 2% 5%;
  padding: 2%;
  /* border-style: solid; */
  /* object-fit: scale-down; */
}

.Book-category-header {
  background-color: #ffbf65;
}

.Movie-category-header {
  background-color: #00a5e3;
}

.TV-category-header {
  background-color: #8dd78f;
}

.Game-category-header {
  background-color: #b44ccb;
}

#search {
  margin: 2%;
  /* border: solid; */
  width: 30%;
}
